.u-section-1 .u-sheet-1 {
    min-height: 381px;
  }
  
  .u-section-1 .u-text-1 {
    text-transform: uppercase;
    margin: 60px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-text-3 {
    line-height: 1.8;
    font-size: 1.25rem;
    margin: 20px 161px 60px 134px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-text-3 {
      width: 680px;
      margin-left: 34px;
      margin-right: 61px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-text-3 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-text-3 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-3 {
      width: 340px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 586px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 60px auto 0;
  }
  
  .u-section-2 .u-gallery-1 {
    height: 396px;
    width: 813px;
    margin: 30px auto 60px;
  }
  
  .u-section-2 .u-carousel-indicators-1 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  
  .u-section-2 .u-carousel-item-1 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-1 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-2 .u-carousel-item-2 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-2 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-2 .u-carousel-item-3 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-3 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-2 .u-carousel-item-4 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-4 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-2 .u-carousel-item-5 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-5 {
    min-height: 100px;
    padding: 10px;
  }
  
  .u-section-2 .u-carousel-control-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
  }
  
  .u-section-2 .u-carousel-control-2 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-gallery-1 {
      width: 720px;
    }
  
    .u-section-2 .u-carousel-control-1 {
      left: 25px;
      right: auto;
    }
  
    .u-section-2 .u-carousel-control-2 {
      left: auto;
      right: 29px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-gallery-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-gallery-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }